@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: "JetBrains Mono", monospace;
}

a {
	text-decoration: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* .slider {
	box-shadow: #d46a6a50 0px 0px 0px 8px;
	transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		left 350ms cubic- bezier(0.4, 0, 0.2, 1) 0ms, bottom 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	@apply appearance-none shadow-none border-none bg-transparent;
} */

.slider {
	@apply appearance-none h-[7px] bg-very_dark_gray rounded-md bg-no-repeat bg-gradient-to-r from-neon_green to-neon_green w-full;
}

.slider::-webkit-slider-thumb {
	@apply appearance-none h-6 w-6 rounded-full cursor-pointer bg-almost_white ring-1 ring-almost_white;
}

.slider::-webkit-slider-thumb:hover {
	@apply ring-neon_green ring-1 bg-very_dark_gray;
}

.input-check {
	@apply appearance-none w-5 h-5 relative rounded-sm bg-transparent checked:bg-neon_green border-2 border-almost_white checked:before:border-very_dark_gray checked:border-none;
}

.input-check:checked::before {
	content: "";
	display: block;
	position: absolute;
	top: 20%;
	left: 35%;
	width: 6px;
	height: 12px;
	border-width: 0 2.5px 2.5px 0;
	transform: rotate(45deg);
}

@layer components {
	.heading-l {
		@apply font-bold text-[2rem] leading-[43px] text-almost_white;
	}

	.heading-m {
		@apply font-bold text-[1.5rem] leading-[2rem] text-almost_white;
	}

	.body {
		@apply font-bold text-[1.125rem] leading-[23px] text-almost_white;
	}
}
